.card {
  background: #202024;
  border-radius: 8px;
  padding: 1rem;
}

.info strong {
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.2;
}

.info p {
  font-size: 1rem;
  line-height: 1.4;
}
