.container {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .container,
  .cardGrid {
    grid-template-columns: 1fr;
  }
}
